
    body {
      background-image: url(../images/background_all.png);
    }

    a:hover {
    	transition: color 0.35s;
    	-moz-transition: color 0.35s; /* Firefox 4 */
    	-webkit-transition: color 0.35s; /* Safari and Chrome */
    	-o-transition: color 0.35s; /* Opera */
    	text-decoration: none;
    }

    a:focus{
      outline:thin dotted #333;
      outline:5px auto -webkit-focus-ring-color;
      outline-offset:-2px;
    }

    a {
      color: #A5ACAF;
      text-decoration: none;
    }

    #logo_container {
      /*border: black 2px solid;*/
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      /*background-image: url(images/background.png);*/
    }

    #game_logo {
      display: block;
       margin-left: auto;
       margin-right: auto
    }

    #quintus_container {
      margin-top: 250px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }

    #quintus_canvas {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      box-shadow: 0px 17px 40px 0px rgb( 1, 1, 1 );
    }

    #footer_container {
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }

    #footer {
      margin-left: auto;
      margin-right: auto;
      width: 800px;
      background-color: rgba( 181, 11, 55, 0.75);
      padding: 30px 0px;
      color: #FFFFFF;
      text-align: center;
      font-family: arial;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      box-shadow: 0px 17px 40px 0px rgb( 1, 1, 1 );
    }
